# NO subir bases de datos
*.sqlite
*.db

# Seeds SQL (si los usas solo local)
seed*.sql
rellenar_datos.sql

# Python
__pycache__/
*.pyc
.venv/
venv/

# Variables de entorno
.env
.env.*

# OS/otros
.DS_Store

generate_sales_seed.py